

html, body {
  width: 100%;
  height: 100%;
  background: rgb(0,0,0)
}

header {
  width: 100%;
  height: 30px;
}

body {
  font-family: sans-serif;
}

nav {
  color: white;
  margin-top: 10px;
  text-align: right;
}

nav a{
  color: inherit;
  padding-left: 10px;
  text-decoration: none;
}

nav :last-child {
  padding-right: 10px;
}

main {
  margin-top: 60px;
  text-align: center;
}

form {
  width: 100%;
  height: 43px;
  display: block;
  margin: 30px auto;
}

div p {
  width: 100%;
  padding: 8px 0;
  font-size: 15px;
}

.header {
  width: 154px;
  height: 35px;
  margin: auto;
  background: rgb(51,51,51);
  color: white;
  text-decoration: none;

}

.search {
  width: 673px;
  position: absolute;
  font-size: 18px;
  border: none;
  left: 20px;
  bottom: 8px;
}

.search:focus {
  outline: none;

}

.search-container {
  height: 42px;
  width: 715px;
  margin: auto;
  display: block;
  position: relative;
  border-radius: 5px;
  background: white;
}

.logo {
  width: 272px;
}

.rec-page {
  width: 154px;
  height: 96px;
  margin: 8px;
}

.content {
  margin-top: 63px;
}

.content a {
  display: inline-block;
}

p {
  font: 100px arial, sans-serif;
}
